@font-face {
  font-family: "iconfont"; /* Project id 2977825 */
  src: url('../fonts/iconfont2/iconfont.eot'); /* IE9 */
  src: url('../fonts/iconfont2/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/iconfont2/iconfont.woff2') format('woff2'),
       url('../fonts/iconfont2/iconfont.woff') format('woff'),
       url('../fonts/iconfont2/iconfont.ttf') format('truetype'),
       url('../fonts/iconfont2/iconfont.svg') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-researchgate:before {
  content: "\e602";
}

